<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tableau de Bord Seahawks Nester</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> <!-- Lien vers le fichier CSS externe -->
</head>
<body>
    <header>
        <h1>Tableau de Bord Seahawks Nester</h1>
    </header>
    <div class="container">
        <h2>Informations du Tableau de Bord :</h2>
        <button onclick="lancerScan()">Lancer le scan</button>
        <table id="resultats" style="display:none;">
            <tr>
                <th>Adresse IP</th>
                <th>Ports ouverts :</th>
            </tr>
        </table>
    </div>
    <script>
        function lancerScan() {
            fetch('/lancer_scan')
            .then(response => response.json())
            .then(data => afficherResultats(data));
        }

        function afficherResultats(resultats) {
            const table = document.getElementById('resultats');
            table.style.display = 'block';
            for (const [ip, ports] of Object.entries(resultats)) {
                const row = table.insertRow();
                const cellIp = row.insertCell(0);
                const cellPorts = row.insertCell(1);
                cellIp.textContent = ip;
                cellPorts.textContent = Object.keys(ports).join(', ');
            }
        }
    </script>
</body>
</html>
